@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

.logo {
    font-family: Pattaya;
    /* font-size: 37px; */
    font-size: 3.2rem;
    line-height: 24px;
    text-align: center;
    color: #7763FB;
}  